<div class="w-full">
  <hr>
  <div class="items-center">
    <h1 class="text-black text-lg font-bold text-4xl" id="surveys">Surveys</h1>
    <hr>
    <div class="min-w-full">
      <% @surveys.each do |survey| %>
        <div class="md-5 p-3">
          <%= link_to "#{survey.title}", survey %>
          <!-- TODO: Create helper for percentage presentation -->
          <p class="px-3 text-xs">Answer Percentage - Yes: <%= survey.percentage_of_answers.to_f %>%, No: <%= survey.percentage_of_answers.nil? ? 0.0 : (100 - survey.percentage_of_answers.to_f) %>%</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
