<div class="container items-center">
  <h1 class="text-black text-lg font-bold text-4xl" id="new_survey">New survey</h1>

  <div class="md-5 px-5">
    <%= render "form", survey: @survey %>
  </div>

  <br>

  <div>
    <%= link_to "Back to surveys", surveys_path, class: "px-3 text-xs" %>
  </div>
</div>
